<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__container">
        <a class="logo">
          <img class="logo-img header__logo" src="img/Logo.svg" alt="Логотип High pass">
        </a>
        <nav data-da=".header__bottom-nav,980" class="header__nav menu" data-menu id="menu">
          <ul class="header__list reset-list">
            <li class="header__item">
              <a class="header__link" href="#info">О&nbsp;студии</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#gallery">Наши проекты</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#catalog">Услуги</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#doing">Мастер-классы</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#partners">Контакты</a>
            </li>
          </ul>
          <p class="header__block-call block-call">
            <svg class="icon call" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <use xlink:href="img/sprite.svg#call"></use>
            </svg>
            +7 495 424-23-532
          </p>
        </nav>
        <button class="header__search-btn header__search-btn--open input-reset js-open-search" type="button">
          <svg class="icon search" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
        <form class="header__search js-search-form" action="#">
          <input class="header__search-input input-reset" type="search" placeholder="Что будем иcкать?">
          <button class="header__search-btn header__search-btn--close js-close-search" type="button">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11.5" cy="11.5" r="11.5" fill="#808080" />
              <rect x="7.13818" y="6.32501" width="13.8" height="1.15" transform="rotate(45 7.13818 6.32501)"
                fill="white" />
              <rect x="6.43018" y="16.0832" width="13.8" height="1.15" transform="rotate(-45 6.43018 16.0832)"
                fill="white" />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <button class="header__burger burger input-reset" type="button" aria-label="Раскрыть меню" aria-expanded="false"
        data-burger>
        <span class="burger__line"></span>
      </button>
      <div class="header__bottom-nav">
      </div>
    </div>
  </div>
</header>
