/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('Montserrat'),
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
 }
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('Montserrat'),
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff');
    font-style: normal;
    font-weight: 600;
  }

  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('Montserrat'),
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;
 }

  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: local('Montserrat'),
        url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff');
    font-style: normal;
    font-weight: 800;
  }

  .html, body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    background-color: #FFFFFF;
  }

a {
    color: inherit;
    text-decoration: none;
    transition-property: color;
    cursor: pointer;
  }

* {
    box-sizing: border-box;
  }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

img {
    max-width: 100%;
    display: block;
  }

html {
    font-family: sans-serif;
  }

.container {
  width: 100%;
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 1920px;
  height: 100px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.menu__icon {
  display: none;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1770px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 72px;
  width: 224px;
  z-index: 5;
  position: relative;

 }

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 819px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  max-width: 709px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  line-height: 100%;
  box-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link:hover {
  border-bottom: 1px solid #FF9900;
}

.header__link:focus,
.footer__nav-link:focus,
.footer__icon__link:focus {
  outline: 2px solid #FF9900;
}

.header__link:active {
  color: #E1670E;
}

.header__button {
  min-width: 32px;
  min-height: 32px;
  border: none;
  background: none;
  padding: 0px;
  z-index: 5;
}

.header__button:focus {
  outline: 2px solid #FF9900;
}


.burger {
  display: none;
  border: none;
  background: none;
  padding: 0px;
}

.header__icon:hover {
  color:#FF9900;
}

.header__icon:active {
  color:#E1670E;
}

.header__img a:before {
  background: url('../img/Search1.png');
}

.header__img:active {
  color: #E1670E;
}

.swiper-container {
  width: 100%;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  max-width: 1770px;
}

.swiper-slide {
  width: 100%;
  min-height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  background: url('../img/low-angle-photo-of-balconies-2462015.jpg');
}

.banner2 {
  background: url('../img/apartment-apartment-building-architecture-building-323705\ 2.jpg');
}

.banner3 {
  background: url('../img/brown-and-blue-glass-building-2093076\ 2.jpg');
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.image-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 10px;
}

.image-slider .swiper-pagination-bullet-active {
  background: #FFFFFF;
}

.banner__header {
  margin: 0px;
  max-width: 919.76px;
  padding-left: 78px;
  padding-top: 105px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 70.3742px;
  line-height: 86px;
  color: #FFFFFF;
}

.banner__text {
  margin: 0;
  max-width: 857px;
  padding-left: 80px;
  padding-top: 18px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  color: #FFFFFF;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18.571px 37.1419px;
  max-width: 280.52px;
  height: 80px;
  margin-left: 80.45px;
  margin-top: 98px;
  border: none;
  background: #FF9900;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.btn:hover {
  background: rgba(255, 153, 0, 0.6);
}

.btn:active {
  background: #E1670E;
}

.header-2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
  margin: 0;
}

.info {
  max-width: 1770px;
  margin-top: 100px;
}

.info__header-2 {
  padding-left: 0px;
}

.info__text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin: 0px;
  padding-top: 21px;
  padding-bottom: 50px;
  max-width: 1235px;
}

.info__block {
  display: flex;
  justify-content: space-between;
  max-width: 1770px;
}

.info__deco {
  width: 100%;
  max-width: 100%;
  max-width: 868px;
  background: url('../img/Rectangle2.jpg');
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info__deco-color {
  display: flex;
  justify-content: center;
  margin-top: 426px;
  min-height: 196px;
  background: rgba(0, 0, 0, 0.5);
}

.info__deco-content {
  max-width: 808px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info__deco-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 454px;
  min-height: 90px;
  margin: 0;
}

.info__btn {
  padding: 19px 35px;
  max-width: 175px;
  height: 60px;
  border: 3px solid #FF9900;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-image: none;
  background: transparent;
  cursor: pointer;
}

.info__btn:hover,
.info__btn:focus {
  background: #FF9900;
}

.info__btn:active {
  background: #E1670E;
}

.info__list {
  width: 100%;
  max-width: 870px;
}

.info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 870px;
  min-height: 295px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  box-sizing: border-box;
}

.info__item-content {
  max-width: 690px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.28vw;
}

.background {
  max-width: 100%;
}

.info__item1 {
  margin-bottom: 30px;
  max-width: 100%;
}

.info__item2 {
  max-width: 100%;
}

.info__item-text {
  margin: 0;
  width: 100%;
  max-width: 462px;
  font-size: 16px;
  line-height: 32px;
  align-items: center;
  padding-left: 10px;
}

.info__item-text-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
}

.info__img1 {
  position: relative;
  background-image: url('../img/Group25.svg');
  max-width: 100%;
  width: 190px;
  height: 165px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.info__img2 {
  position: relative;
  background-image: url('../img/Group24.svg');
  max-width: 100%;
  width: 190px;
  height: 165px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.work {
  width: 100%;
  max-width: 1774px;
  margin-top: 100px;
}

.work__list {
  max-width: 469px;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 48px 0;
  font-size: 18px;
}

.tabs__btn:hover,
.footer__nav-item:hover {
  color: #FF9900;
}

.tabs__btn:active,
.footer__nav-item:active {
  color: #E1670E;

}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.tabs-reset:active {
  border: #E1670E;
}

.tabs__btn:focus {
  outline: 2px solid #FF9900;
}

.work__consultation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: flex;
}

.work__text-btn {
  width: 47.3%;
}

.work__text {
  width: 100%;
  max-width: 762px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  white-space: pre-line;
}

.work__text::first-line {
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
}

.work_work-btn {
  display: flex;
  margin-top: 45px;
}

.work__btn {
  width: 100%;
  max-width: 175px;
  margin: 0px;
  padding: 19px 38px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
}

.work__btn:focus,
.work__btn:hover,
.footer__btn:focus,
.footer__btn.btn:hover {
  background: #F7B045;
}

.work__btn:active,
.footer__btn:active {
  background: #E1670E;
}


.work__btn__2 {
  width: 100%;
  max-width: 147px;
  margin-left: 30px;
  height: 58px;
  align-items: center;
  border: 1px solid #333333;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
}

.work__btn__2:focus,
.work__btn__2:hover {
  background: #666666;
  color: #FFFFFF;
}

.work__btn__2:active {
  background: #000000;
  color: #FFFFFF;
}

.work-img {
  width: 47.3%;
  /* flex: 0 0 47.3%; */
  position: relative;
  min-height: 465px;
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.ui-widget {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  margin: 0;
  height: auto;
}

.ui-icon {
  display: none;
}

.ui-corner {
  border-radius: none;
}

.ui-widget-content {
  border: none;
}

.questions {
  width: 100%;
  max-width: 1766px;
  margin-top: 100px;
}

.questions__header-2 {
  margin-bottom: 32px;
}

.questions__list {
  padding-top: 44px;
  padding-left: 0px;
}

.questions__item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-left: none;
  border-right: none;
  cursor: pointer;
  background: transparent;
}

/* .questions__item:focus {
  color: #FF9900;
} */

.questions__item:focus,
.questions__item:hover {
  border-bottom: 1px solid #FF9900;
  border-top: 1px solid #FF9900;
  outline: none;
}

.questions__item:hover > .questions__text {
  color: #FF9900;
}

.questions__text:focus {
  color: #FF9900;
  outline: none;
}

.ui-state-active > .questions__img {
  transform: rotate(45deg);
}

.questions__img:focus {
  outline: none;
}

.questions__img:hover ellipse,
.questions__img:focus ellipse {
  fill: #FF9900;
}

.questions__img:hover path,
.questions__img:focus path {
  fill: #FFFFFF;
}

.questions__item:first-child {
  border-top: 1px solid #CACACA;
}

.questions__item:first-child:hover {
  border-top: 1px solid #FF9900;
}

.questions__img {
  display: block;
  margin: 0;
  background-color: transparent;
  border: none;
}

.questions__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.questions-text {
  max-width: 1003px;
  min-height: 416px;
  font-size: 16px;
  line-height: 32px;
}

.footer {
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  min-height: 630px;
  margin-top: 100px;
  background: #222222;
  color: #CACACA;
}

.footer__elem {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__elem1 {
  width: 100%;
  max-width: 363px;
  margin-top: 46px;
}

.footer__logo-img {
  margin: 0px;
}

.footer__nav-list {
  width: 100%;
  max-width: 317.08px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.footer__nav-item {
  margin-bottom: 18px;
}

.footer__icon__list {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 230.08px;
 padding-top: 81px;
}

.footer__icon__link {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 60.12px;
  height: 60.12px;
}

.footer__icon__link:hover path {
  fill:#FF9900;
}

.footer__icon__link:active path {
  fill:#E1670E;
}

.footer__elem2 {
  width: 100%;
  padding: 0 15px;
  max-width: 600px;
  margin-top: 50px;
}

.footer__header-2 {
  margin-bottom: 23px;
  color: #CACACA;
}

.form {
  padding-left: 0px;
}

.footer__input {
  width: 100%;
  max-width: 570px;
  height: 60px;
  border: none;
  background: #414141;
  margin-bottom: 25px;
  padding-left: 24px;
}

.footer__input:focus,
.footer__input:hover,
.footer__input:active,
.textarea:focus,
.textarea:hover,
.textarea:active {
  background: #666666;
  color: #CACACA;
}

.textarea {
  width: 100%;
  max-width: 570px;
  height: 150px;
  background: #414141;
  padding-left: 24px;
  padding-top: 20px;
  margin-bottom: 26px;
  border: none;
}

.footer__btn-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 570px;
}

.footer__checkbox {
  padding-left: 5px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
  color: #CACACA;
}

.checkbox + label:before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  background-color: #222222;
  position: absolute;
  top: 0px;
  left: 0px;
}

.checkbox:checked + label:before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 7px;
  top: 3px;
  left: 5px;
  z-index: 2;
  border: 2px solid #97EE3F;
  box-sizing: border-box;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
 }

 .checkbox:checked + label:after {
   content: "";
   width: 14px;
   height: 14px;
   border: 1px solid #CACACA;
   box-sizing: border-box;
   background-color: #222222;
   position: absolute;
   top: 0px;
   left: 0px;
 }

 .info__btn-btn {
  margin: 0;
 }

.footer__btn {
  width: 100%;
  height: 60px;
  max-width: 269px;
  margin-right: 20px;
  padding: 19px 38px;
  border: none;
  background: #FF9900;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.footer__elem3 {
  width: 100%;
  max-width: 363px;
  margin-top: 136px;
  height: 320px;
  font-size: 16px;
  line-height: 32px;
}


  @media (max-width: 1024px) {
  .container {
      max-width: 1024px;
      margin: 0 auto;
    }

    .menu__icon {
      display: flex;
    }

    .one {
      transition: transform 0.25s;
    }

    .burger-icon.is-active rect:nth-of-type(1) {
      transform: rotate(45deg) translateX(3px) translateY(-3px);
    }

    .burger-icon.is-active rect:nth-of-type(2) {
      display: none;
    }

    .burger-icon.is-active rect:nth-of-type(3) {
      transform: rotate(-45deg) translateX(-14px) translateY(-4px);
    }

  .burger {
      display: flex;
      cursor: pointer;
      z-index: 5;
    }

    .burger:focus {
      outline: 2px solid #FF9900;
      /* border: 1px solid #FF9900; */
      box-sizing: border-box;
    }

    .burger-icon:hover {
      color: #E1670E;
    }

    .menu {
      position: fixed;
      top: 100px;
      bottom: 0;
      left: 0;
      width: 400px;
      height: 100%;
      background-color: #222222;
      padding: 100px 30px 30px 30px;
      transition: transform 3s ease-in-out;
      transform: translateX(-101%);
      overflow: auto;
    }

    /* .menu::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 100px;
      background-color: #FFFFFF;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
      z-index: 2;
    } */

    .header__list {
      flex-direction: column;
      align-items: flex-start;
    }

    .header__list > li {
      margin: 0px 0px 30px 0px;
      font-size: 24px;
      color: #CACACA;
    }

    .menu.is-active {
      transform: none;
    }

    .header {
      justify-content: space-between;
    }

    .header__nav {
      max-width: 23px;
    }

    .logo-img {
      margin-left: 0px;
    }

    .logo__header {
      height: 48px;
      width: 150px;
    }

    .swiper-slide {
      min-height: 668px;
      background-size: cover;
    }

    .banner {
      min-height: 668px;
      max-width: 100%;
      background-image: url('../img/low-angle-photo-of-balconies-2462015\ 1\ \(1\).jpg');
      object-fit: cover;
    }

    .banner__header {
      font-size: 60px;
      line-height: 73px;
      padding-top: 160px;
      padding-left: 45px;
    }

    .banner__text {
      font-size: 20px;
      line-height: 24px;
      padding-top: 14px;
    }

    .banner-btn {
      margin-top: 110px;
      margin-left: 45px;
    }

    .banner-btn:focus {
      background: rgba(255, 153, 0, 0.7);
    }

    .info,
    .work,
    .questions,
    .footer {
      margin-top: 80px;
    }

    .info__text {
      width: 100%;
      max-width: 924px;
      padding-top: 10px;
      padding-bottom: 60px;
    }

    .info__deco {
    width: 100%;
    object-fit: cover;
    margin-bottom: 32px;
    background-image: url('../img/Rectangle\ 2.jpg');
    background-repeat: no-repeat;
    max-width: 924px;

    margin-left: 0;
    }

    .info__deco-color {
      min-height: 196px;
      margin-top: 50vw;
    }

    .info__deco-content {
      max-width: 864px;
    }

    .info__list {
      width: 100%;
      max-width: 924px;
    }

    .info__item1 {
      margin-bottom: 32px;
    }

    .info__item-content {
      margin-left: 7.5vw;
      max-width: 690px;
    }

    .info__img1 {
      background-image: url(../img/Frame\ 16.svg);
    }

    .info__img2 {
      background-image: url(../img/Frame\ 12.svg);
    }

    .info__block,
    .work {
      flex-direction: column;
    }

    .work {
      display: inline-block;
    }

    .work__list {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .work__text-btn {
      width: 47.3%;
    }

    .work__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
    }

    .work__text::first-line {
      line-height: 44px;
    }

    .work_work-btn {
      margin-top: 23px;
    }

    .work__img-blok {
      max-width: 437px;
      object-fit: cover;
    }

    .questions__list {
      padding-top: 32px;
    }

    .questions__text {
      max-width: 756px;
      font-size: 20px;
    }

    .questions__item:nth-child(even) {
      padding: 30px 0;
    }

    .footer__elem3 {
      display: none;
    }

    .footer__elem1,
    .footer__elem2 {
      margin-top: 50px;
      padding: 0;
    }

    .footer__elem2 {
      padding-left: 20px;
    }

    .footer__nav-list {
      margin-top: 28px;
    }

    .footer__icon__list {
      padding-top: 80px;
    }

    .footer__btn {
      margin-right: 0;
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
      margin: 0 auto;
    }

    .header {
      max-height: 69px;
    }

    .menu {
      top: 69px;
    }

    .banner-cont {
      padding: 0;
    }

    .swiper-container {
      margin-top: 69px;
    }

    .swiper-slide {
      min-height: 768px;
    }

    .banner {
      margin: 0 auto;
    }

    .banner__header {
      font-weight: 800;
      padding-left: 49px;
      padding-top: 191px;
    }

    .banner__text {
      max-width: 658px;
      font-size: 18px;
      line-height: 22px;
      padding-left: 49px;
      padding-top: 16px;
    }

    .banner-btn {
      margin-left: 49px;
    }

    .header-2 {
      max-width: 695px;
      margin-top: 58px;
    }

    .info__text {
      padding-top: 10px;
      padding-bottom: 60px;
    }

    .info__deco,
    .info__item1 {
      margin-bottom: 32px;
    }

    .info__deco-content {
      padding: 0 40px;
    }

    .info__deco-text {
      max-width: 767px;
    }

    .info__item {
      min-height: 235px;
    }

    .info__item-content {
      margin-left: 0;
      max-width: 778px;
      width: 100%;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .info__img1,
    .info__img2 {
      width: 15.32vw;
      height: 99px;
      margin: 0;
    }

    .info__item-text {
      margin: 0;
    }

    .work {
      margin-top: 0;
    }

    .work__consultation {
      position: relative;
      flex-direction: column;
      align-items: center;
    }

    .work__text-btn {
      width: 100%;
    }

    .work-img {
      width: 100%;
      position: absolute;
    }

    .work__img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .work__list {
      max-width: 668px;
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
    }

    .work__text {
      max-width: 668px;
      padding-top: 41vw;
    }

    .work_work-btn {
      margin-top: 27px;
    }

    .questions {
      margin: 0;
    }

    .questions__list {
      padding-top: 0;
    }

    .footer__nav-list {
      display: none;
    }

    .questions__item:not(:first-child) {
      padding: 30px 0;
    }

    .questions__text {
      max-width: 570px;
    }

    .footer {
      margin-top: 80px;
    }

    .footer__header-2 {
      margin-top: 50px;
    }

    .footer__elem {
      flex-direction: column-reverse;
    }

    .footer__elem2 {
      margin: 0;
      padding-left: 0;
      max-width: 541px;
    }

    .footer__icon__list {
      padding-top: 16px;
      padding-bottom: 50px;
    }
  }

  @media (min-width: 321px) and (max-width: 767px) {
    .container {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 100%;
    }

    .banner {
      min-height: 87vw;
    }

    .banner__header {
      padding-top: 15vw;
      padding-left: 0;
      font-size: 6.5vw;
      line-height: 6vw;
      text-align: center;
     }

    .banner__text {
      margin: 0;
      max-width: 700px;
      padding-left: 0;
      padding-top: 10vw;
      font-weight: 500;
      font-size: 3.5vw;
      line-height: 18px;
      text-align: center;
     }


     .banner__btn {
       margin-top: 10vw;
       margin-left: 0;
       display: flex;
       justify-content: center;
     }

    .banner-btn {
      max-width: 250px;
      font-size: 20px;
      margin: 0;
      justify-content: center;
     }

    .info {
      margin-top: 0;
    }

    .info__text {
      padding-top: 20px;
    }

    .info__deco-content {
      text-align: left;
    }

    .info__text,
    .info__item-text,
    .work__list,
    .work__text,
    .questions__text {
      font-size: 14px;
      line-height: 28px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
     }

    .questions__item {
      background-size: 30px;
     }

    .questions__text {
       max-width: 600px;
     }

    .info__deco {
      width: 100%;
      max-width: 767px;
      margin: 0;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
     }

    .info__deco-text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      color: #333333;
     }

    .info__text {
      padding-bottom: 10px;
    }

    .info__deco-color {
      background: transparent;
     }

    .info__deco-content {
      flex-direction: column;
      align-items: flex-start;
      padding: 20% 0 0 0;
     }

    .info__list {
      flex-direction: column;
    }

    .info__item {
      border: none;
     }

    .info__item-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
     }

    .info__item {
      margin-top: 32px;
     }

    .info__item-text-bold,
    .work__text::first-line {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }

    .info__item-text {
      max-width: 767px;
    }

    .info__item-text::first-line {
      line-height: 16px;
    }

    .work__text::first-line {
      line-height: 46px;
    }

    .info__btn {
      color: #FF9900;
      margin-top: 10px;
    }

    .info__deco-content {
      flex-direction: column;
      justify-content: center;
    }
  }

  @media (max-width: 320px) {
    .container {
       max-width: 320px;
       margin: 0 auto;
       padding: 0 15px;
     }

    .logo__header {
      width: 110px;
      height: 65px;
     }

    .header-container {
     display: flex;
     }

    .swiper-slide {
      min-height: 307px;
    }

    .banner__header {
      padding-top: 60px;
      padding-left: 0;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
     }

    .banner__text {
      max-width: 267px;
      padding-top: 6px;
      padding-left: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
     }

    .btn {
      width: 162px;
      height: 40px;
      font-size: 12px;
      line-height: 15px;
      font-style: normal;
      font-weight: bold;
      padding: 0;
     }

    .banner__btn {
      margin-top: 34px;
      margin-left: 0;
      display: flex;
      justify-content: center;
     }

    .banner-btn {
       margin: 0;
       justify-content: center;
     }

    .header-2 {
      margin-top: 60px;
      font-size: 24px;
      line-height: 29px;
     }

    .info {
      margin-top: 0;
    }

    .info__text {
      padding-top: 20px;
    }

    .info__deco-content {
      text-align: left;
    }

    .info__text,
    .info__item-text,
    .work__list,
    .work__text,
    .questions__text {
      font-size: 14px;
      line-height: 28px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
     }

    .work__btn__2 {
      width: 118px;
      height: 40px;
      margin-left: 10px;
      font-size: 12px;
     }

    .questions__item {
      background-size: 30px;
     }

    .questions__text {
       max-width: 243px;
     }

    .info__deco {
      width: 100%;
      max-width: 290px;
      min-height: auto;
      margin: 0;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
     }

    .info__deco-text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      color: #333333;
     }

    .info__text {
      padding-bottom: 10px;
    }

    .info__deco-color {
      margin-top: 210px;
    }

    .info__deco-color {
      background: transparent;
     }

    .info__deco-content {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
     }

    .info__list {
      flex-direction: column;
    }

    .info__item {
      border: none;
     }

    .info__item-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
     }

    .info__item {
      margin-top: 32px;
     }

    .info__item-text-bold,
    .work__text::first-line {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }

    .info__item-text::first-line {
      line-height: 16px;
    }

    .work__text::first-line {
      line-height: 46px;
    }

    .info__img1,
    .info__img2 {
      margin-left: 0;
      width: 64px;
      height: 49px;
      margin-bottom: 10px;
    }

    .info__btn {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 162px;
      height: 40px;
      border: 2px solid #FF9900;
      box-sizing: border-box;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #FF9900;
      background-image: none;
      background: transparent;
      cursor: pointer;
      margin-top: 10px;
    }

    .work {
      margin-top: 0;
    }

    .work__list {
     padding: 16px 0 11px 0;
    }

    .work__consultation {
     position: relative;
    }

    .work__text-btn {
      max-width: 290px;
    }

    .work__text {
      max-width: 100%;
      margin-top: 0;
      padding-top: 170px;
    }

    .work-img {
      width: 100%;
      max-width: 290px;
      position: absolute;
      float: top;
    }

    .work_work-btn {
      margin-top: 16px;
    }

    .questions {
      margin: 0;
    }

    .questions__list {
      padding-top: 16px;
    }

    .questions__item {
      padding: 30px 0;

    }

    .questions__text {
      line-height: 24px;
    }

    .footer {
      margin-top: 60px;
    }

    .footer__header-2 {
      margin-top: 32px;
      margin-bottom: 22px;
    }

    .footer__checkbox {
      margin-top: 20px;
    }

    .footer__elem2 {
      margin-top: 0;
    }

    .footer__icon__link {
      width: 34.4px;
      height: 34.4px;
    }

    .footer__icon__link svg {
      width: 34.4px;
      height: 34.4px;
    }

    .textarea {
      margin-bottom: 25px;
    }

    .footer__input {
     font-size: 14px;
    }

    .footer__btn-checkbox {
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #CACACA;
      padding-bottom: 20px;
     }

    .footer__elem1 {
      margin-top: 16px;
     }

    .footer__btn {
      margin: 0;
      font-size: 12px;
      padding: 0;
      width: 180px;
      height: 40px;
     }

    .footer__logo-img {
      width: 131px;
      height: 42px;

     }

    .footer__logo-logo{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer__icon {
      max-width: 131.92px;
      margin: 0 auto;
    }

    .footer__icon__list {
      padding-top: 16px;
      padding-bottom: 32px;
    }

  }

  @media (max-width: 319px) {
    .work_work-btn {
      display: flex;
      flex-direction: column;
       align-items: center;
    }

    .work__btn {
      margin-bottom: 15px;
    }
}
