<footer class="footer">
  <div class="container">
    <div class="footer__container grid">
      <div class="footer__logo" data-da=".footer__bottom-container,610">
        <a class="logo">
          <img class="footer__logo-img logo-img" src="img/Logo.svg" alt="Логотип High pass">
        </a>
        <p>Фотостудия High pass® 2018–2020</p>
      </div>
      <div class="footer__text">
        <p>Которая из моих фотографий самая любимая?</p>
        <p>Та, которую я собираюсь снять завтра.</p>
        <p>© Имоджен Каннингем</p>
      </div>
      <div class="footer__social">
        <p>Больше интересного:</p>
        <nav class="footer__nav">
          <ul class="footer__list reset-list">
            <li class="footer__item">
              <a href="#" class="footer__link">
                <svg class="icon OK" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                  <use xlink:href="img/sprite.svg#OK"></use>
                </svg>
              </a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">
                <svg class="icon vk" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-container">
      </div>
    </div>
  </div>
</footer>
