  // base
  $fontFamily: "Roboto";
  $fontNeue: "TTFirsNeue";
  $contentWidth: 1290px;
  $containerOffset: 50px;
  // @media (max-width: 1240px) {
  //   $containerOffset: 31px;
  // }
  $containerWidth: $contentWidth + ($containerOffset * 2);

  // colors
  $lightColor: #fff;
  $greyLightColor: #E9E9E9;
  $greyMiddleColor: #CACACA;
  $greyColor: #999999;
  $greyDarkColor: #4A4A4A;
  $blackColor: #202020;
  $orangeColor: #FF6E30;
  $terracottaColor: #BC572B;
  $darkOrangeColor: #CE4307;
  $pinkColor: #F06666;
  $beigeColor: #FFD4C1;

  // transition
  $transitionTime: .5s;

  @keyframes search-open {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes search-close {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes block-open {
    from {
      opacity: 0;
    }

    to {
      opacity: .85;
    }
  }

  @keyframes block-close {
    from {
      opacity: .85;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes menu-open {
    from {
      transform: translateX(-100%);
    }

    to {
      //visibility: visible;
      transform: translateX(0);
    }
  }

  @keyframes menu-close {
    from {
      //visibility: visible;
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
